/BasicDataTypes/nbproject/private/
/SimpleCalculator/nbproject/private/
/SimpleCalculator/build/
/Difference/nbproject/private/
/ AreaOfCircle/nbproject/private/
/DigitsSummation/nbproject/private/
/Summation/nbproject/private/
/CountSubarrays/nbproject/private/
/CountSubarrays/build/
/PermutationWithArrays/nbproject/private/
/PermutationWithArrays/build/
/SearchInMatrix/nbproject/private/
/SearchInMatrix/build/
/Matrix/nbproject/private/
/Matrix/build/
