/BasicDataTypes/nbproject/private/
/SimpleCalculator/nbproject/private/
/SimpleCalculator/build/
/Difference/nbproject/private/
/ AreaOfCircle/nbproject/private/
/DigitsSummation/nbproject/private/
/Summation/nbproject/private/
